html, body {width:100%; height:100%;}

body{font-family:arial; padding-left:75px; padding-top:20px}

table.events {margin-top:20px;}
.events tbody tr:nth-child(odd) {background-color:#efefef;}
.events th, .events td {text-align:left; padding:4px; cursor:default}
.events th {font-weight:bold;}

table.events tr {style: inline-block; width: 100%;}

input[type='file']{display:none;}

.column {display:inline-block; height:100%; vertical-align:top; margin-right:30px;}

.buttons {display:block; margin-bottom:5px;}
.buttons .open img {margin-right:3px;}

.events{display:inline-block; float:left; min-width:290px;}

.info{display:block; margin-top:20px; line-height:200%;}
.info label{font-weight:bold; margin-right:3px;}
.info span {display:inline-block; margin-right:10px;}


.options {margin-top:30px; line-height:200%;}
.options input[type='checkbox'] {cursor:pointer;}
.options label {display:inline-block; width:50px; cursor:pointer;}

.events td span {display: inline-block; margin: 0 5px 0 0;}

.events .delta {text-align:left;}

.note-on td span:first-child,       
.note-off td span:first-child
    {min-width: 39px;}


.note-on td span:nth-child(2),
.note-off td span:nth-child(2)
    {min-width: 18px;}
